*{
	/* 去掉浏览器默认样式 */
	margin: 0;
	padding: 0;
	/* 去掉列表标签的修饰 */
	list-style: none;
}
a{
	/* 去掉a标签的下划线 */
	text-decoration: none;
}
body{
	background: #0f0f0f;
}
header{
	height: 109px;
	/* background-image:-webkit-linear-gradient(left,#0f0f0f,#2e2e2e); */
	margin: 0 auto;
}
.head{
	width: 974px;
	height: 102px;
	margin: 0 auto;
	background: url('../img/logo-menu.png') no-repeat;
	position: relative;
}
.logo{
	display: block;
    position: absolute;
    top: 10px;
    left: 50%;
    /* background: green; */
    margin-left: -100px;
    width: 200px;
    height: 100px;
}
.right{
	width: 336px;
	height: 25px;
/* 	background: green; */
	position: absolute;
	top: 29px;
	right: 0;
}
.righticon{
	width:116px;
	height: 25px;
/* 	background: red; */
	float: left;
}
.righticon a{
	display: block;
	width: 14px;
	height: 14px;
/* 	background: lightskyblue; */
	float: left;
	margin-top: 5.5px;
	margin-left: 8px;
}
.righticon a:last-child{
	margin-right: 0;
}
.wechat img{
	width: 14px;
	height: 14px;
	display: block;
}
.weibo img{
	width: 14px;
	height: 14px;
	display: block;
}
.youku img{
	width: 14px;
	height: 14px;
	display: block;
}
.instagram img{
	width: 14px;
	height: 14px;
	display: block;
}
.facebook img{
	width: 14px;
	height: 14px;
	display: block;
}
.tanchu{
	position: absolute;
    z-index: 999;
    top: 30px;
    left: -93px;
    display: none;
}
.tanchu img{
	width: 200px;
	height: 200px;
}
.wechat:hover .tanchu{
	display: block;
}
.rightzi{
	width:220px;
	height: 25px;
/* 	background: yellow; */
	float: right;
}
.rightzi a{
	display: block;
	float: left;
	margin-top: 5px;
	margin-left: 7px;
	font-size: 12px;
	color: #888888;
	border-left: 1px solid #888888;
	padding-left: 10px;
}
.rightzi a:nth-child(2){
	color: #cccccc;
}
/* 导航开始 */
nav{
	width: 975px;
	height: 24px;
	/* background: gold; */
	position: absolute;
	left: 0;
	bottom: 0;
	display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav li:hover{
	background: #092e43;
}
nav li:hover .xiala{
	display: block;
}
nav li:hover .xiala2{
	display: block;
}
.xiala{
	width: 200px;
	display: none;
    position: absolute;
    z-index: 999;
    top: 24px;
    left: 70px;
    margin: 0;
    padding: 0;
    border-top: solid 5px #144563;
}
.xiala li{
	display: block;
    position: relative;
    width: 200px;
    height: auto;
    margin: 0;
    padding: 0 10px;
    background: #111;
    opacity: 0.8;
}
.xiala li a{
	width: 200px;
    height: auto;
	display: block;
    margin: 0;
 /*    padding: 7px 7px 7px 15px; */
    border-bottom: solid 1px #333;
    color: #ddd;
    font-size: 11px;
    line-height: 25px;
    text-align: left;
}
.xiala2{
	width: 200px;
	display: none;
    position: absolute;
    z-index: 999;
    top: 24px;
    left: 210px;
    margin: 0;
    padding: 0;
    border-top: solid 5px #144563;
}
.xiala2 li{
	display: block;
    position: relative;
    width: 200px;
    height: auto;
    margin: 0;
    padding: 0 10px;
    background: #111;
    opacity: 0.8;
}
.xiala2 li a{
	width: 200px;
    height: auto;
	display: block;
    margin: 0;
 /*    padding: 7px 7px 7px 15px; */
    border-bottom: solid 1px #333;
    color: #ddd;
    font-size: 11px;
    line-height: 25px;
    text-align: left;
}
nav li {
    display:block;
    width: 122px;
    height: 24px;
    margin-left: 70px;
}
nav li a {
    display: block;
    font-size: 12px;
    color: #aaa;
    text-align: center;
    line-height: 24px;
}
nav li:last-child{
	margin-right: 70px;
}
nav span{
	width: 110px;
}
/* 导航结束 */
/* 内容开始 */
main{
	width: 100%;
	height: 100%;
	/* background: red; */
}
#texiao{
	position: absolute;
	top:100px;
	left: 200px;
	opacity: 0.3;
}
.box{
	width: 790px;
	height: 130px;
	margin: 0 auto;
	/* background: yellowgreen; */
    position: relative;
    margin: 70px 0 50px 330px;
    border-top: 1px solid #555;
    box-sizing: border-box;
}
.boxnian{
    position: absolute;
    top: -51px;
    left: -130px;
    width: 140px;
    font-size: 30px;
    color: #aaa;
    text-align: right;
}
.jieshao{
	width: 300px;
	height: 200px;
	/* background: yellow; */
	border-top: 3px solid #6ab0e9;
	position: absolute;
	top: 50px;
	left: 500px;
}
.tu{
	width: 128px;
	height: 156px;
/* 	background: pink; */
	margin-top: 22px;
	float: left;
}
.wenzi{
	width: 120px;
	float: right;
	margin-top: 22px;
	margin-right: 40px;
}
.box p{
	color: #aaa;
    font-size: 12px;
    text-align: left;
}
.jieshao1{
	width: 300px;
	height: 165px;
/* 	background: yellow; */
	border-top: 3px solid #6ab0e9;
	position: absolute;
	top: 50px;
	left: 150px;
}
.jieshao1.tu{
	width: 128px;
	height: 73px;
/* 	background: pink; */
	margin-top: 22px;
	margin-left: 4px;
	float: left;
}
.jieshao1.wenzi{
	width: 115px;
	float: left;
	margin-top: 30px;
	margin-right: 40px;
}
.jieshao2{
	width: 300px;
	height: 165px;
/* 	background: yellow; */
	border-top: 3px solid #6ab0e9;
	position: absolute;
	top: 50px;
	left: 300px;
}
.jieshao2.tu{
	width: 128px;
	height: 83px;
/* 	background: pink; */
	margin-top: 22px;
	margin-left: 4px;
	float: left;
}
.jieshao2.wenzi{
	width: 120px;
	float: left;
	margin-top: 30px;
	margin-right: 40px;
}
.jieshao3{
	width: 300px;
	height: 165px;
/* 	background: yellow; */
	border-top: 3px solid #6ab0e9;
	position: absolute;
	top: 50px;
	left: 600px;
}
.jieshao3.tu{
	width: 128px;
	height: 93px;
/* 	background: pink; */
	margin-top: 22px;
	margin-left: 4px;
	float: left;
}
.jieshao3.wenzi{
	width: 120px;
	float: left;
	margin-top: 30px;
	margin-right: 40px;
}
.zuozi{
	width: 300px;
	height: 59px;
/* 	background: yellow; */
	border-top: 3px solid #6ab0e9;
	position: absolute;
	top: 50px;
	left: 150px;
	padding-top:20px;	
}
.zhongzi{
	width: 300px;
	height: 59px;
/* 	background: yellow; */
	border-top: 3px solid #6ab0e9;
	position: absolute;
	top: 50px;
	left: 350px;
	
}
.zhongzi div{
	width: 120px;
	height: 36px;
	float: left;
	margin-top: 30px;
	margin-right: 0;
}
.jieshao4{
	width: 300px;
	height: 165px;
/* 	background: yellow; */
	border-top: 3px solid #6ab0e9;
	position: absolute;
	top: 50px;
	left: 150px;
}
.youzi{
	width: 300px;
	height: 41px;
/* 	background: yellow; */
	border-top: 3px solid #6ab0e9;
	position: absolute;
	top: -2px;
	left: 450px;
	padding-top:20px;	
}
.haoduo{
	width: 120px;
	height: 90px;
/* 	background: yellow; */
	border-top: 3px solid #6ab0e9;
	position: absolute;
	top: 50px;
	left: 150px;
	padding-top:20px;
	position: absolute;	
}
.haoduo1{
	width: 120px;
	height: 90px;
/* 	background: yellow; */
	border-top: 3px solid #6ab0e9;
	position: absolute;
	top: 50px;
	left: 380px;
	padding-top:20px;
	position: absolute;	
}
.haoduo2{
	width: 120px;
	height: 90px;
/* 	background: yellow; */
	border-top: 3px solid #6ab0e9;
	position: absolute;
	top: 50px;
	left: 580px;
	padding-top:20px;
	position: absolute;	
}
.haoduo3{
	width: 120px;
	height: 90px;
/* 	background: yellow; */
	border-top: 3px solid #6ab0e9;
	position: absolute;
	top: 50px;
	left: 780px;
	padding-top:20px;
	position: absolute;	
}
.wenzizuo{
	width: 120px;
	float: left;
	margin-top: 0;
	margin-left:0;
}
.wenziyouzuo{
	width: 120px;
	float: right;
	margin-top: 20px;
	margin-right:180px;
}
/* 内容结束
/* 底部开始 */
/* .jiange{
	width: auto;
	height: 100px;
} */
footer{
	position: relative;
	width: auto;
    height: 100px;
    position: relative;
}
.heng{
	width: auto;
	height: 1px;
	text-align: center;
}
.footerbox{
	position: relative;
    margin: 0px auto;
    padding: 20px;
    width: 910px;
    color: #888;
    font-size: 11px;
}
.footleft{
	margin-top: 20px;
	float: left;
}
.footleft span{
	font-size: 11px;
	color: #888888;
}
.footright a{
	margin-top: 20px;
	float: right;
}
.footright a{
	display:block;
    margin-left: 10px;
    color: #888;
    font-size: 11px;
}
.footright a:hover{
	display: block;
	color: #bee5e3;
}
/* 底部结束 */